:root {
    --body_color: #FFFFFF
} 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background-image: url(https://live.staticflickr.com/65535/51999990621_96efa72540_b.jpg);
    background-size: 104%;
    background-attachment: fixed;
}
/*Body Style*/
.title hr {
    border: 2px dashed var(--body_color);
}
.title img {
    margin: 0 auto;
    display: flex;   
}
.title h1 {
    color: var(--body_color);
}
.title p {
    color: var(--body_color);
    font-family:Arial, Helvetica;
    text-align: center;
}
/*Table*/
.table {
    color: var(--body_color);
    border: 2px solid var(--body_color);
}
.table th{
    text-align: center;
    font-size: 2rem;
}
.table li {
    font-family: Arial, Helvetica, sans-serif;
}
/*Blood Rage & Blood Gauge*/
.blood_rage_bar {
    text-align: center;
    font-size: 1.4rem;
    color: var(--body_color)
}
.blood_rage_bar img {
    display:flex;
    align-items: center;
    margin: 0 auto;
}
.blood_rage_content {
    color: var(--body_color);
}